@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;500;600;700&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend:wght@100;500;600;700&family=Niconne&display=swap');

:root {
   --main-color: #ebbaa9;
   --header-color: #333;
    --main-font: Lato,sans-serif;
    --cursive-font: 'Niconne', cursive;
  }

* {
    margin: 0;
}

#background-wrraper {
    background-image: url(../img/main-background-image.webp);
    background-size: cover;
    background-position: center;
}

#header-info {
    background-color:#ecd9d1;
    display: none;
    padding: 33px 24px;
}

.menu-paragraph {
    display: flex;
    justify-content: space-between;
    color: rgb(147,111,98);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5px;
}

.menu-paragraph span a {
    color: rgb(147,111,98);
    cursor: pointer;
    text-decoration-line: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header-main-menu {
    display: block;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav {
    margin-top: 20px;
    margin-left: 10px;
}

.navbar-nav hr {
    max-width: 430px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(147,111,98);
    font-weight: 700;
    font-family: var(--main-font);
    text-decoration-line: none;
}

.header-logo img {
    display: block;
    width: 146px;
}

#burger-button {
    border: none;
    box-shadow: none;
}

.header-social-icons svg{
    color: rgb(147,111,98);
    width: 30px;
    height: 30px;
}

#description-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    max-width: 270px;
}

.section-header {
    color: var(--main-color);
    font-size: 22px;
    font-family: var(--cursive-font);
    font-style:italic ;
}

h1 {
    font-size: 35px;
    color: var(--header-color);
    font-family: Lexend,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
}

h1 span{
    color: var(--main-color);
}

.section-description {
    font-size: 20px;
    font-family: var(--main-font);
    color: #868686;
    line-height: 1.5;
    padding-top: 40px;
}

.main-page-buttons {
    padding-top: 40px;  
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
 }

.main-page-buttons a {
    margin: 10px 20px 10px 0;
    text-decoration: none;
    padding: 20px 24px;
    width: fit-content;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
 }
 
 #shop-now-button {
     background-color: var(--main-color);
     color: #FCFFF9;
 }
 
 #about-us-button {
     border: 2px solid var(--header-color);
     color: var(--header-color);
 }

@media (min-width: 768px) {

    #description-section {
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 380px;
        padding-left: 20px;
    }

    .section-header {
        font-size: 26px;
    }

    h1 {
        font-size: 59px;
        padding-top: 5px;
    }

    .section-description {
        padding-top: 20px;
    }    
}

@media (min-width: 992px) {

    #header-info {
        display: block;
    }

    .navbar navbar-expand-lg navbar-light {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: space-around;
    }

    .navbar-nav {
        margin-top: 0;
    }

    #description-section {
        padding-top: 140px;
        padding-bottom: 140px;
        max-width: 470px;
    }

    h1 {
        font-size: 64px;
        padding-top: 5px;
    }

    .additional-burger-info {
        display: none;
    }

}

 #design-section-beige-up{
    background-image: url(../img/design-section-beige-up-picture.webp);
    min-height: 129px;
    }

/* 
.red-buttons {
    margin: 20px;
    padding: 20px;
    background-color: #F7B5A8;
} */


/* 

#design-section-beige-up{
    background-image: url(../img/design-section-beige-up-picture.webp);
    width: 100%;
    min-height: 129px;
}

#about-us-content{
    display: flex;
    justify-content: center;
}

.section-title{
    font-size: 42px;
    color: #333;
    font-family: Lexend,sans-serif;
}

.branch-logo{
    max-width: 80px;
}

#about-us-content .marks{
    color: #F7B5A8;
    max-width: 15px;
}

#about-us-content li{
    font-size: 17px;
    font-family: Lato, sans-serif;
    color: #868686;
}

#about-us-content .section-description{
    font-size: 17px;
    font-family: Lato, sans-serif;
    color: #868686;
    margin: 20px;
}

#about-us-content .notes{
    margin: 10px;
    font-size: 17px;
    font-family: var(--main-font);
    color: #868686;
}

#matcha-section{
    background-image: url(../img/matcha-background-image.webp) ;
    background-size: cover;
}

#matcha-section .section-header{
  color: #8BAEA4;
  font-size: 30px;
    font-family: var(--cursive-font);
    margin-top: 15px;
    margin-bottom: 15px;
}

#matcha-section .section-title{
    font-size: 42px;
    color: rgb(61,125,114);
    font-family: Lexend,sans-serif;  
    margin-top: 15px;
    margin-bottom: 15px;
}

#matcha-section p{
    color: rgb(132,155,145);
    font-size: 17px;
    font-family: var(--main-font);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

#matcha-section .branch-logo{
    margin-top: 15px;
    margin-bottom: 15px;
}

#matcha-content{
max-width: 700px;
margin-left: 100px;
}

#awards img{
   max-width: 120px;
   margin-top: 20px;
   margin-top: 15px;
   margin-bottom: 15px;
}

#matcha-section #slider-buttons-award{
    margin: o auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#categories-section{
    display: flex;
}

.soap-categories-images{
    width: 200px;
}

#discount-size{
    background-color: #FDF0E5;
    width: 500px;
    height: 200px;
}

#benefits-section img{
    width: 90px;
}

.soap-image{
    width: 200px;
}

.blog-items img{
    width: 600px;
} */