@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;500;600;700&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend:wght@100;500;600;700&family=Niconne&display=swap');

:root {
    --main-color: #ebbaa9;
    --header-color: #333;
    --paragraph-color: #a59489;
    --menu-color:rgb(147,111,98);
    --main-font: Lato,sans-serif;
    --cursive-font: 'Niconne', cursive;
  }

* {
    margin: 0;
}

#background-wrraper {
    background-image: url(../img/main-background-image.webp);
    background-size: cover;
    background-position: center;
}

#header-info {
    background-color:#ecd9d1;
    display: none;
    padding: 33px 24px;
}

.menu-paragraph {
    display: flex;
    justify-content: space-between;
    color: var(--menu-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5px;
}

.menu-paragraph span a {
    color: var(--menu-color);
    cursor: pointer;
    text-decoration-line: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header-main-menu {
    display: block;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav {
    margin-top: 20px;
    margin-left: 10px;
}

.navbar-nav hr {
    max-width: 430px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--menu-color);
    font-weight: 700;
    font-family: var(--main-font);
    text-decoration-line: none;
}

.header-logo img {
    display: block;
    width: 146px;
}

#burger-button {
    border: none;
    box-shadow: none;
}

.header-social-icons svg{
    color: var(--menu-color);
    width: 30px;
    height: 30px;
}

#description-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    max-width: 500px;
}

.section-header {
    color: var(--main-color);
    font-size: 22px;
    font-family: var(--cursive-font);
    font-style:italic ;
    margin-top: 50px;
}

h1 {
    font-size: 35px;
    color: var(--header-color);
    font-family: Lexend,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
}

.addition-color-span{
    color: var(--main-color);
}

.section-description {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--paragraph-color);
    line-height: 1.5;
    padding-top: 40px;
}

.buttons-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 40px;
 }

 .button {
    margin: 0 20px 10px 0;
    text-decoration: none;
    padding: 20px 24px;
    width: fit-content;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--main-color);
     color: #FCFFF9;
 }
 
 #about-us-button {
     border: 2px solid var(--header-color);
     color: var(--header-color);
     background: none;
 }

@media (min-width: 768px) {

    #description-section {
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 380px;
        padding-left: 20px;
    }

    .section-header {
        font-size: 26px;
    }

    h1 {
        font-size: 59px;
        padding-top: 5px;
    }

    .section-description {
        padding-top: 20px;
    }    

    .soap-categories {
        max-width: 230px;
    }

}

@media (min-width: 992px) {

    #header-info {
        display: block;
    }

    .navbar navbar-expand-lg navbar-light {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: space-around;
    }

    .navbar-nav {
        margin-top: 0;
    }

    #description-section {
        padding-top: 140px;
        padding-bottom: 140px;
        max-width: 500px;
    }

    h1 {
        font-size: 64px;
        padding-top: 5px;
    }

    .additional-burger-info {
        display: none;
    }
}

 #design-section-beige-up {
    background-image: url(../img/design-section-beige-up-picture.webp);
    min-height: 129px;
    margin-bottom: 70px;
    }

#about-us-content {
    display: grid;
    list-style-image: url("../img/little-leaves.svg");
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

#about-us-content li{
    margin-top: 15px;
    margin-bottom: 15px;
}

#about-us-content-picture img {
    max-width: 100%;
    height: auto;
}

.branch-logo {
    max-width: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 42px;
    color: var(--header-color);
    font-family: Lexend,sans-serif;
    font-weight: 700;
}

.notes{
    font-size: 17px;
    font-family: Lato,sans-serif;
    color: var(--paragraph-color);
}
 
#matcha-section{
    background-image: url(../img/matcha-background-image.webp) ;
    background-size: cover;
    padding-top: 30px;
    margin-top: 70px;
}

#matcha-section .green-notes{
  color: #809C91;
}

 
#matcha-content{
max-width: 700px;
text-align: left;
}

#awards img{
   max-width: 200px;
   margin: auto;
}

#awards button {
    margin-top: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.uppercase-letter {
    text-transform: uppercase;
}

#categories-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 40px; 
}

.soap-categories {
    max-width: 230px;
}

.soap-categories p{
    padding-top: 20px;
    max-width: 230px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.soap-categories img {
    padding-top: 60px;
    max-width: 100%;
    margin: auto;
}

h3 {
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
}

/* #discount-proposition-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#discount-size {
    padding: 31px 27px;
    max-width: 100%;
    height: auto;
    background-color: #FDF0E5;
}

#discount-size .addition-color-span {
font-size: 35px;
color: (var(--main-color));
}

#go-to-shop {
    padding: 31px 27px;
    max-width: 100%;
    height: auto;
    background-image: url(../img/discount-background-image.webp);
    background-size: cover;
} */

/* 


#discount-size{
    background-color: #FDF0E5;
    width: 500px;
    height: 200px;
}

#benefits-section img{
    width: 90px;
}

.soap-image{
    width: 200px;
}

.blog-items img{
    width: 600px;
} */