@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;500;600;700&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend:wght@100;500;600;700&family=Niconne&display=swap');

:root {
    --main-color: #ebbaa9;
    --header-color: #333;
    --paragraph-color: #a59489;
    --menu-color:rgb(147,111,98);
    --matcha-capital-color: #008472;
    --matcha-paragraph-color:#809C91;
    --benefits-capital-color:#89308B;
    --benefits-paragraph-color:#A2809B;
    --main-font: Lato,sans-serif;
    --cursive-font: 'Niconne', cursive;
    --paragraph-font: Lexend,sans-serif;
  }

* {
    margin: 0;
}

#background-wrraper {
    background-image: url(../img/main-background-image.webp);
    background-size: cover;
    background-position: center;
}

#header-info {
    background-color:#ecd9d1;
    display: none;
    padding: 33px 24px;
}

@media (min-width: 992px) {
    #header-info {
        display: block;
    }
}    

.menu-paragraph {
    display: flex;
    justify-content: space-between;
    color: var(--menu-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5px;
}

.menu-paragraph span a {
    color: var(--menu-color);
    cursor: pointer;
    text-decoration-line: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header-main-menu {
    display: block;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.header-logo img {
    display: block;
    width: 146px;
}

#burger-button {
    border: none;
    box-shadow: none;
}

.navbar-nav {
    margin-top: 20px;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-top: 0;
    }
}

.navbar-nav hr {
    max-width: 430px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--menu-color);
    font-weight: 700;
    font-family: var(--main-font);
    text-decoration-line: none;
}

@media (min-width: 992px) {
    .navbar navbar-expand-lg navbar-light {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: space-around;
    }

    .additional-burger-info {
        display: none;
    }
}

.header-social-icons svg{
    color: var(--menu-color);
    width: 30px;
    height: 30px;
}

#description-section {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    #description-section {
        padding-top: 100px;
        padding-bottom: 100px;
        max-width: 380px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 992px) {
    #description-section {
        padding-top: 140px;
        padding-bottom: 140px;
        max-width: 500px;
    }
}

.section-header {
    color: var(--main-color);
    font-size: 22px;
    font-family: var(--cursive-font);
    font-style:italic ;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .section-header {
        font-size: 26px;
    }
}

h1 {
    font-size: 35px;
    color: var(--header-color);
    font-family:var(--paragraph-font);
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 59px;
        padding-top: 5px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 64px;
        padding-top: 5px;
    }
}

.addition-color-span {
    color: var(--main-color);
}

.section-description {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--paragraph-color);
    line-height: 1.5;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .section-description {
        padding-top: 20px;
    } 
}

.buttons-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
 }

 .buttons-box .button {
    margin-right: 20px; 
    margin-bottom: 20px;
 }


 .button {
    text-decoration: none;
    padding: 20px;
    width: fit-content;
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--main-color);
     color: #FCFFF9;
 }
 
 #about-us-button {
     border: 2px solid var(--header-color);
     color: var(--header-color);
     background: none;
 }

 #design-section-beige-up {
    background-image: url(../img/design-section-beige-up-picture.webp);
    min-height: 129px;
    margin-bottom: 60px;
    }

#about-us-content {
    display: flex;
    flex-wrap: wrap;
    list-style-image: url("../img/little-leaves.svg");
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    #about-us-content {
    display: grid;
    list-style-image: url("../img/little-leaves.svg");
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    } 
}

#about-us-content li{
    margin-top: 15px;
    margin-bottom: 15px;
}

#about-us-content-picture img {
    max-width: 100%;
    height: auto;
}

.branch-logo {
    max-width: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 34px;
    color: var(--header-color);
    font-family: var(--paragraph-font);
    font-weight: 700;
}

.notes {
    font-size: 17px;
    font-family: Lato,sans-serif;
    color: var(--paragraph-color);
}
 
#matcha-section {
    background-image: url(../img/matcha-background-image.webp) ;
    background-size: cover;
    padding-top: 30px;
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    #matcha-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

#matcha-section h2 {
    color: var(--matcha-capital-color);
}

#matcha-section .green-notes {
  color: var(--matcha-paragraph-color);
}

 
#matcha-content {
max-width: 600px;
text-align: left;
}

#awards img {
   max-width: 200px;
   margin: auto;
}

#awards button {
    margin-top: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.uppercase-letter {
    text-transform: uppercase;
}

#categories-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 40px; 
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    #categories-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.soap-categories {
    max-width: 230px;
}

@media (min-width: 768px) {
    .soap-categories {
        max-width: 230px;
    }
}

.soap-categories p{
    padding-top: 20px;
    max-width: 230px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.soap-categories img {
    padding-top: 60px;
    max-width: 100%;
    margin: auto;
}

.soap-categories a {
    padding-bottom: 10px;
}

h3 {
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
}

#discount-proposition-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;

}

@media (min-width: 768px) {
    #discount-proposition-section  {
        display: grid;
        grid-template-columns: 43% 57%;
        gap: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

#discount-size {
    background-color: #FDF0E5;
    padding: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

@media (min-width: 768px) {
    #discount-size {
        padding: 70px 30px;
        margin-bottom: 0
    }
}

#discount-size .addition-color-span {
    font-size: 35px;
    font-weight: 700;
    font-family: var(--paragraph-font);;
}

@media (min-width: 768px) {
    #discount-size .addition-color-span {
        font-size: 60px;
    }
}

#discount-proposition-section .inscription{
    font-size: 18px;
    font-family: var(--main-font);
    color: var(--paragraph-color);
}

@media (min-width: 768px) {
    #discount-proposition-section .inscription {
        font-size: 20px;
    }
}

#go-to-shop {
    background-image: url(../img/discount-background-image.webp);
    background-size: cover;
    padding: 30px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    #go-to-shop {
        font-size: 20px;
        padding: 50px;
    }
}


#go-to-shop h3 {
    text-align: left;
    font-weight: 400px;
    font-size: 28px;
}

.w-divider-component-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .w-divider-component-wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

#shop-soaps-button {
    font-size: 14px;
    color:#D48BC7;
    text-decoration: none;
}

#design-section-fiolet-up {
    background-image: url(../img/design-section-fiolet-up-picture.webp);
    min-height: 129px;
    margin-top: 70px;
    }

#benefits-section {
    background-image: url("../img/benefits-background-picture.png");
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    #benefits-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

#benefits-section h2 {
    color: var(--benefits-capital-color);
}

#benefits-section p{
    color: var(--benefits-paragraph-color);
}
 
.benefits-content {
    max-width: 600px;
    text-align: left;
    
    }

.benefits-icons {
    width: 50px;
    background-color: #DBCAF1;
    border-radius: 50%;
}